.glowing-image-root {
  position: relative;
  border-radius: 0.6rem;
}

.glowing-image-root::before {
  content: "";
  position: absolute;
  inset: 0;
  scale: 1.05;

  background-image: var(--img-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: inherit;
  filter: blur(8rem) saturate(2);
}

@media (min-width: 768px) {
  .glowing-image-root::before {
    filter: blur(15rem) saturate(2);
  }
}
