/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* css variables */
:root {
  --primary-color: #379cf6; /* Primary Color: Dodger Blue */
  --heading-color: #fff; /* Heading Color: White */
  --btn-primary-bg: #379cf6; /* Button Primary Background: Dodger Blue */
  --btn-secondary-bg: #090238; /* Button Secondary Background: Dark Blue */
  --hamburger-color: #fff; /* Hamburger Color: White */
  --team-card-bg: #1b2352; /* Team Card Background: Navy Blue */
  --link-color: #fff; /* Link Color: White */
  --link-active: #379cf6; /* Active Link Color: Dodger Blue */
  --body-bg: #00000d;
  --card-bg: linear-gradient(
    to right,
    #1a11e7,
    #0034d6,
    #0645c2,
    #2d50a9,
    #45588e
  );

  --counter-color: linear-gradient(
    90deg,
    #02bba6 30%,
    rgba(29, 129, 176, 1) 55%,
    rgba(35, 93, 173, 1) 75%
  );

 

  --newsletter-bg: linear-gradient(
    to right top,
    #1149e7,
    #134ae2,
    #164bde,
    #194bd9,
    #1c4cd4
  );

  --testimonial-bg: #1a0f4f;
  --font-name: "Roboto", sans-serif;
  --small-text-color: rgba(255, 255, 255, 0.774);
  --icon-bg: #151e4f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @apply bg-backgroundColor;
}



.Container {
  @apply container max-w-6xl mx-auto px-6 mb-16 py-4;
}

.heading{
  @apply text-white
}

.heading-md {
  @apply text-5xl font-extrabold max-w-3xl mx-auto text-center;
}

.heading-lg{
  @apply text-6xl font-bold
}

/* text-gradient */
.counter-gradient{
  @apply bg-clip-text text-transparent bg-gradient-to-r from-teal-400 via-blue-600 to-indigo-700 !important;
}



/* only gradient */
.newsletter-gradient{
  @apply bg-gradient-to-br from-blue-600 via-blue-500 to-blue-400
}

.normal-gradient{
  @apply bg-gradient-to-r from-teal-400 via-blue-600 to-indigo-700 
}

.card-gradient{
  @apply bg-gradient-to-r from-indigo-800 via-blue-700 to-blue-500
}


.highlight {
  @apply text-primary
}

.text-clip{
  @apply bg-clip-text text-transparent
}